*.pyc
.DS_Store

# GN build dir
downloaded/
geoserver/

# uploaded files
worldmap/uploaded/

# static files are built
worldmap/static/worldmap_client/
src/geonode-client/build
src/geonode-client/app/static/externals/openlayers/build/
worldmap/static/worldmap_client/script
