html, body{background-color: #FFFFFF}
footer{
    background-color: #FFFFFF;  
    text-align: center;
    color: #000000;
}
.navbar{
    background-color: rgba(1.0, 1.0, 1.0, 0.7);
}
#usermenu{
    background-color: rgba(1.0, 1.0, 1.0, 0.7);
}
