{% extends "maps/map_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block body_class %}maps explore{% endblock %}

{% block body %}
<div class="page-header">
  <div class="container">
  <a href="{% url "new_map" %}" class="btn btn-primary pull-right">{% trans "Create a New Map" %}</a>
  <h2>{% trans "Search for maps" %}</h2>

  {% if SEARCH_FILTERS.TEXT_ENABLED %}
  <div class="input-group" id="filter_maps">
    <input name="text_search_input" id="text_search_input" ng-model="text_query" type="text"
                   placeholder="{% trans 'Search by text' %}" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-secondary" type="submit" id="text_search_btn"><i class="fa fa-search"></i></button>
    </span>

    <span class="input-group-btn">
      <a href="." class="btn btn-secondary" type="submit" id="text_search_btn"><i class="fa fa-remove"></i></a>
    </span>

  </div>

  {% endif  %}

  </div>
</div>
  {% include "search/_search_content.html" %}
  {% include "_bulk_permissions_form.html" %}
{% endblock %}

{% block extra_script %}
{{ block.super }}
  {% if GEONODE_SECURITY_ENABLED %}
    {% include "_permissions_form_js.html" %}
  {% endif %}
  <script type="text/javascript">
      {% if HAYSTACK_SEARCH %}
          SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='base' %}?type__in=map'
      {% else %}
          SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='maps' %}';
      {% endif %}
      FILTER_TYPE = 'map';
  </script>
  {% with include_spatial='true' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}
{% endblock extra_script %}
