{% extends 'index.html' %}
{% load i18n %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs.
{% endcomment %}
  {% block hero %}
  <div id="indexTop">
    <div class="row">
        <div id="topleft" class="col-md-4">
          <div id="carousel-worldmap" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="{{ STATIC_URL }}img/slide-libai.gif" alt="...">
                <div class="carousel-caption">
                  李白行迹图
                </div>
              </div>
              <div class="item">
                <img src="{{ STATIC_URL }}img/slide-dufu.gif" alt="...">
                <div class="carousel-caption">
                  杜甫行迹图
                </div>
              </div>
              <div class="item">
                <img src="{{ STATIC_URL }}img/slide-tangxianzu.gif" alt="...">
                <div class="carousel-caption">
                  汤显祖行迹图
                </div>
              </div>
              <div class="item">
                <img src="{{ STATIC_URL }}img/slide-quansongwen.gif" alt="...">
                <div class="carousel-caption">
                  全宋文专题
                </div>
              </div>
              <div class="item">
                <img src="{{ STATIC_URL }}img/slide-qingdaifunv.gif" alt="...">
                <div class="carousel-caption">
                  清代妇女作家专题图
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="topRight" class="col-md-6">
            <div class="row">
                <div>
                    <div id="tmi01" class="topRightDiv">
                        <img class="picItem" src="{{ STATIC_URL }}img/map/noData.jpg" onerror="this.src='{{ STATIC_URL }}img/map/noData.jpg'"></img>
                        <p class="imgTitle">NO DATA</p>
                    </div>
                    <div id="tmi02" class="topRightDiv">
                        <img class="picItem" src="{{ STATIC_URL }}img/map/noData.jpg" onerror="this.src='{{ STATIC_URL }}img/map/noData.jpg'"></img>
                        <p class="imgTitle">NO DATA</p>
                    </div>
                    <div id="tmi03" class="topRightDiv">
                        <img class="picItem" src="{{ STATIC_URL }}img/map/noData.jpg" onerror="this.src='{{ STATIC_URL }}img/map/noData.jpg'"></img>
                        <p class="imgTitle">NO DATA</p>
                    </div>
                </div>
                <div>
                    <div id="tmi04" class="topRightDiv">
                        <img class="picItem" src="{{ STATIC_URL }}img/map/noData.jpg" onerror="this.src='{{ STATIC_URL }}img/map/noData.jpg'"></img>
                        <p class="imgTitle">NO DATA</p>
                    </div>
                    <div id="tmi05" class="topRightDiv">
                        <img class="picItem" src="{{ STATIC_URL }}img/map/noData.jpg" onerror="this.src='{{ STATIC_URL }}img/map/noData.jpg'"></img>
                        <p class="imgTitle">NO DATA</p>
                    </div>
                    <div id="tmi06" class="topRightDiv">
                        <img class="picItem" src="{{ STATIC_URL }}img/map/noData.jpg" onerror="this.src='{{ STATIC_URL }}img/map/noData.jpg'"></img>
                        <p class="imgTitle">NO DATA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
    <div class="container col-md-offset-3">
        <a class="btn btn-primary" href="{% url "new_map" %}">{% trans "Create Map" %}</a>
        <a class="btn btn-primary" href="{% url "maps_browse" %}">{% trans "View Map" %}</a>
        <a class="btn btn-primary" href="{% url "layer_browse" %}">{% trans "My Layers" %}</a>
        <a class="btn btn-primary" href="{% url "layer_upload" %}">{% trans "Upload Layer" %}</a>
        <a class="btn btn-primary" href="{% url "layer_create" %}">{% trans "Create Layer" %}</a>
        <a class="btn btn-primary" href="{% url "aboutus" %}">{% trans "About Us" %}</a>
        <a class="btn btn-primary" href="{% url "aboutgeonode" %}">{% trans "About GeoNode" %}</a>
    </div>
    <!-- IndexTop End -->
      <!--hottest map Start-->
    <div class="thematicMapList">
        <div class="subMapListTitle">&emsp;
            <br>{% trans "Hottest Maps" %}
            <select id="category1" class="selectpicker" data-style="btn-primary" onchange="selectOnChange1(this)">
                <option value=0>{% trans "All the categories" %}</option>
                <option value=1>{% trans "Geoscientific Information" %}</option>
                <option value=2>{% trans "Farming" %}</option>
                <option value=3>{% trans "Elevation" %}</option>
                <option value=4>{% trans "Utilities Communication" %}</option>
                <option value=5>{% trans "Oceans" %}</option>
                <option value=6>{% trans "Boundaries" %}</option>
                <option value=7>{% trans "Inland Waters" %}</option>
                <option value=8>{% trans "Intelligence Military" %}</option>
                <option value=9>{% trans "Environment" %}</option>
                <option value=10>{% trans "Location" %}</option>
                <option value=11>{% trans "Economy" %}</option>
                <option value=12>{% trans "Planning Cadastre" %}</option>
                <option value=13>{% trans "Biota" %}</option>
                <option value=14>{% trans "Health" %}</option>
                <option value=15>{% trans "Imagery Base Maps Earth Cover" %}</option>
                <option value=16>{% trans "Transportation" %}</option>
                <option value=17>{% trans "Society" %}</option>
                <option value=18>{% trans "Structure" %}</option>
                <option value=19>{% trans "Climatology Meteorology Atmosphere" %}</option>
                <option value=20>{% trans "Humanity History" %}</option>
            </select>
        </div>
        <div id="thematic1" class="subMapList custom-scrollbar">
            <div>
                <div id="tmi11" class="thematicDiv">
                    <img class="picItem" src="{{ STATIC_URL }}img/map/noData.jpg" onerror="this.src='{{ STATIC_URL }}img/map/noData.jpg'"></img>
                    <p class="imgTitle">NO DATA</p>
                </div>
                <div id="tmi12" class="thematicDiv">
                    <img class="picItem" src="{{ STATIC_URL }}img/map/noData.jpg" onerror="this.src='{{ STATIC_URL }}img/map/noData.jpg'"></img>
                    <p class="imgTitle">NO DATA</p>
                </div>
                <div id="tmi13" class="thematicDiv">
                    <img class="picItem" src="{{ STATIC_URL }}img/map/noData.jpg" onerror="this.src='{{ STATIC_URL }}img/map/noData.jpg'"></img>
                    <p class="imgTitle">NO DATA</p>
                </div>
                <div id="tmi14" class="thematicDiv">
                    <img class="picItem" src="{{ STATIC_URL }}img/map/noData.jpg" onerror="this.src='{{ STATIC_URL }}img/map/noData.jpg'"></img>
                    <p class="imgTitle">NO DATA</p>
                </div>
                <div id="tmi15" class="thematicDiv">
                    <img class="picItem" src="{{ STATIC_URL }}img/map/noData.jpg" onerror="this.src='{{ STATIC_URL }}img/map/noData.jpg'"></img>
                    <p class="imgTitle">NO DATA</p>
                </div>
                <div id="tmi16" class="thematicDiv">
                    <img class="picItem" src="{{ STATIC_URL }}img/map/noData.jpg" onerror="this.src='{{ STATIC_URL }}img/map/noData.jpg'"></img>
                    <p class="imgTitle">NO DATA</p>
                </div>
            </div>
        </div>
        <!--hottest map End-->
        <!--latest map Start-->
        <div class="subMapListTitle">
            <br>{% trans "Latest Maps" %}
            <select id="category2" class="selectpicker" data-style="btn-primary" onchange="selectOnChange2(this)">
                <option value=0>{% trans "All the categories" %}</option>
                <option value=1>{% trans "Geoscientific Information" %}</option>
                <option value=2>{% trans "Farming" %}</option>
                <option value=3>{% trans "Elevation" %}</option>
                <option value=4>{% trans "Utilities Communication" %}</option>
                <option value=5>{% trans "Oceans" %}</option>
                <option value=6>{% trans "Boundaries" %}</option>
                <option value=7>{% trans "Inland Waters" %}</option>
                <option value=8>{% trans "Intelligence Military" %}</option>
                <option value=9>{% trans "Environment" %}</option>
                <option value=10>{% trans "Location" %}</option>
                <option value=11>{% trans "Economy" %}</option>
                <option value=12>{% trans "Planning Cadastre" %}</option>
                <option value=13>{% trans "Biota" %}</option>
                <option value=14>{% trans "Health" %}</option>
                <option value=15>{% trans "Imagery Base Maps Earth Cover" %}</option>
                <option value=16>{% trans "Transportation" %}</option>
                <option value=17>{% trans "Society" %}</option>
                <option value=18>{% trans "Structure" %}</option>
                <option value=19>{% trans "Climatology Meteorology Atmosphere" %}</option>
                <option value=20>{% trans "Humanity History" %}</option>
            </select>
        </div>
        <div id="thematic2" class="subMapList custom-scrollbar">
            <div>
                <div id="tmi21" class="thematicDiv">
                    <img class="picItem" src="{{ STATIC_URL }}img/map/noData.jpg" onerror="this.src='{{ STATIC_URL }}img/map/noData.jpg'"></img>
                    <p class="imgTitle">NO DATA</p>
                </div>
                <div id="tmi22" class="thematicDiv">
                    <img class="picItem" src="{{ STATIC_URL }}img/map/noData.jpg" onerror="this.src='{{ STATIC_URL }}img/map/noData.jpg'"></img>
                    <p class="imgTitle">NO DATA</p>
                </div>
                <div id="tmi23" class="thematicDiv">
                    <img class="picItem" src="{{ STATIC_URL }}img/map/noData.jpg" onerror="this.src='{{ STATIC_URL }}img/map/noData.jpg'"></img>
                    <p class="imgTitle">NO DATA</p>
                </div>
                <div id="tmi24" class="thematicDiv">
                    <img class="picItem" src="{{ STATIC_URL }}img/map/noData.jpg" onerror="this.src='{{ STATIC_URL }}img/map/noData.jpg'"></img>
                    <p class="imgTitle">NO DATA</p>
                </div>
                <div id="tmi25" class="thematicDiv">
                    <img class="picItem" src="{{ STATIC_URL }}img/map/noData.jpg" onerror="this.src='{{ STATIC_URL }}img/map/noData.jpg'"></img>
                    <p class="imgTitle">NO DATA</p>
                </div>
                <div id="tmi26" class="thematicDiv">
                    <img class="picItem" src="{{ STATIC_URL }}img/map/noData.jpg" onerror="this.src='{{ STATIC_URL }}img/map/noData.jpg'"></img>
                    <p class="imgTitle">NO DATA</p>
                </div>
            </div>
        </div>
    </div>
      <!--hotest map End-->
  {% endblock %}
  
  {% block mainbody %}
<!--     <div class="container landing-footer">
      <div class="row">
        <div class="col-md-8">
          <p>{% trans "Build your own mapping portal and publish it to the world or to just a few collaborators. WorldMap is open source software." %}</p>

          <p>{% trans "WorldMap is being developed by the " %}<a href="http://gis.harvard.edu">{% trans "Center for Geographic Analysis" %}</a> {% trans "at" %} <a href="http://www.harvard.edu">Harvard University</a>.</p>
        </div>
        <div class="col-md-4">
          <p><a target="_blank" href="https://www.youtube.com/watch?v=Ajctx6h1t5s"><img src="http://img.youtube.com/vi/Ajctx6h1t5s/mqdefault.jpg" alt=""></a>
          <p><a target="_blank" href="https://www.youtube.com/watch?v=Ajctx6h1t5s">Watch the WorldMap Quick Start video</a></p>
        </div>
      </div>
    </div> -->
    <script src="{{ STATIC_URL }}js/base.js"></script>
    <script>
        $(document).ready(function (e) {
            $.ajaxSetup({//set the csrf(Cross-site request forgery) when using ajax, especially the post
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
                });
            //showCategorys("{{ LANGUAGE_CODE }}");//load the dropdown menu of category
            showMaps("tmi0","admin",0);//load the maps created by admin
            showMaps("tmi1","hottest",0);//load the hottest maps of all the category
            showMaps("tmi2","latest",0);//load the latest maps of all the category
        });
    </script>
  {% endblock %}
