{% extends 'index.html' %}
{% load i18n %}
{% load humanize %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs.
{% endcomment %}
  {% block hero %}
  <div class="jumbotron">
    <div class="container">
      <div id="carousel-worldmap" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="{{ STATIC_URL }}img/slide-africa.jpg" alt="...">
            <div class="carousel-caption">
              AfricaMap
            </div>
          </div>
          <div class="item">
            <img src="{{ STATIC_URL }}img/slide-japan.jpg" alt="...">
            <div class="carousel-caption">
              Japan's 2011 disasters
            </div>
          </div>
          <div class="item">
            <img src="{{ STATIC_URL }}img/slide-boston.jpg" alt="...">
            <div class="carousel-caption">
              Boston Research Map
            </div>
          </div>
          <div class="item">
            <img src="{{ STATIC_URL }}img/slide-china.jpg" alt="...">
            <div class="carousel-caption">
              ChinaMap
            </div>
          </div>
          <div class="item">
            <img src="{{ STATIC_URL }}img/slide-giza.jpg" alt="...">
            <div class="carousel-caption">
              GizaMap
            </div>
          </div>
        </div>
        <!-- Controls -->
 <!--        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
      </div>


      <a class="btn btn-primary" href="{% url "maps_browse" %}">{{n_maps|intcomma}} {% trans "Maps" %}</a>
      <a class="btn btn-primary" href="{% url "layer_browse" %}">{{n_layers|intcomma}} {% trans "Layers" %}</a>
      <a class="btn btn-primary" href="{% url "profile_browse" %}">{{n_users|intcomma}} {% trans "Users" %}</a>

      <a class="btn btn-primary" href="{% url "new_map" %}">{% trans "Create Map" %}</a>
      <a class="btn btn-primary" href="{% url "layer_create" %}">{% trans "Create Layer" %}</a>
      <a class="btn btn-primary" href="{% url "layer_upload" %}">{% trans "Upload Layer" %}</a>

      <a class="btn btn-primary" href="https://about.worldmap.harvard.edu/">{% trans "About" %}</a>
    </div>
  </div>
  {% endblock %}

  {% block mainbody %}
    <div class="container landing-footer">
      <div class="row">
        <div class="col-md-8">
          <p>{% trans "Build your own mapping portal and publish it to the world or to just a few collaborators. WorldMap is open source software." %}</p>

          <p>{% trans "WorldMap is being developed by the " %}<a href="http://gis.harvard.edu">{% trans "Center for Geographic Analysis" %}</a> {% trans "at" %} <a href="http://www.harvard.edu">Harvard University</a>.</p>
        </div>
        <div class="col-md-4">
          <p><a target="_blank" href="https://www.youtube.com/watch?v=Ajctx6h1t5s"><img src="http://img.youtube.com/vi/Ajctx6h1t5s/mqdefault.jpg" alt=""></a>
          <p><a target="_blank" href="https://www.youtube.com/watch?v=Ajctx6h1t5s">Watch the WorldMap Quick Start video</a></p>
        </div>
      </div>
    </div>
  {% endblock %}
